option_settings:
- option_name: AUTH_KEY
  value: 'd1d6aSL3.B:Uii-M]UZ+3%)#?*FKW$f])5 4=cgv)V%VmRJX1;[a8>J-fp<BN<Xy'
- option_name: SECURE_AUTH_KEY
  value: '9.&g457}t2][=T?{hhoGG2+pAtee/ND/yLZ4}`s<<u3N6f|5|.s.B|3qkCol S0@'
- option_name: LOGGED_IN_KEY
  value: '+c`F]?0{I$FxsWfVM.R)1,DJz6Y@-7~P4do-OIW?}V&# VOXk?!0}gIpi:|#7[KK'
- option_name: NONCE_KEY
  value: 'lQ*uNCGXv+jB+$q*,^F2lvTu=_aGtla*tvg)~Mt8A8.OS(wQfZ!)ir2JK[:+{/fX'
- option_name: AUTH_SALT
  value: 'w1305wpyw3gKTX5@47rCwIgu5oXho~VW?,g[HFj9-@09t/t8f>aZw^sOJy%NT_?3'
- option_name: SECURE_AUTH_SALT
  value: '`C[O#<p.x*wV.F3|l.dSYQzZ=_-Q;iVI/y3p9H>6|$,0Z0a!?:)=}IaftEDFOmJI'
- option_name: LOGGED_IN_SALT
  value: '2;{ohSE)W/`|d}j>l!Yo7^koW,{H6?O6`jT%hyf9}[}{rlF5i=q^xsz_eX?pq(5a'
- option_name: NONCE_SALT
  value: '|Ii)go&-fBh=HeN#q1+ng4i_N|e!|:*^!~1>o.#vQNxx5lM(cE{V1($rYfK8cn(v'
